@using System.Collections
@model User?

@{
    ViewData["Title"] = $"Профиль {Model!.FullName}";
}

<div class="row">
    <div class="col-md-4">
        @if (string.IsNullOrEmpty(Model.PhotoName))
        {
            <img src="~/img/NoPhoto.png" alt=""/>
        }
        else
        {
            <img src="~/img/@Model.PhotoName" alt=""/>
        }
    </div>
    
    <div class="col-md-4">
        <table class="table table-bordered">
            <tbody>
            @foreach (var property in typeof(User).GetProperties())
            {
                var name = property.Name;
                var value = property.GetValue(Model);
                if (value is not null)
                {
                    if (value is IEnumerable enumerable and not string)
                    {
                        foreach (var item in enumerable)
                        {
                            <tr>
                                <th>@name</th>
                                <td>@item</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th>@name</th>
                            <td>@value</td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>
</div>
